<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303585145248-v87lk1ocabcmvjv1l9i9jp3ce7n6ci57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303585145248-v87lk1ocabcmvjv1l9i9jp3ce7n6ci57</string>
	<key>API_KEY</key>
	<string>AIzaSyBEExoTsXjZNeQaHKT23p6ZGuov98VHr_k</string>
	<key>GCM_SENDER_ID</key>
	<string>303585145248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodeWith2w1m.HealthApp</string>
	<key>PROJECT_ID</key>
	<string>healthapp-4d65a</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-4d65a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303585145248:ios:4c7f9aa23b1bf997</string>
	<key>DATABASE_URL</key>
	<string>https://healthapp-4d65a.firebaseio.com</string>
</dict>
</plist>